.page
{
  /* felt poker table */
  background:
  url('../../assets/images/felt.png') repeat, 
  linear-gradient(#418764, #2c5a43);
  /* linear-gradient(#418663, #2c5a43); */
  background-size: 200px;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.tab-dealer
{
  padding: 10px;

  background-color: rgb(0, 0, 0, .15);

  border-style: solid;
  border-radius: 0 0 7px 7px;
  border-width: 0px;

  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.left
{
  position: relative;
  right: 25%;
}

.right
{
  position: relative;
  left: 25%;
}

.tab-player
{
  padding: 10px;

  background-color: rgb(0, 0, 0, .15);

  border-style: solid;
  border-radius: 7px 7px 0 0;
  border-width: 0px;

  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.gap
{
  height: 15vh;
}

.points-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

  /* background-color: rgba(0, 0, 0, 0.083); */
}

.button
{
  width: 300px;
  margin: 10px 5px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.result-modal .modal-content
{
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  justify-content: center;
  align-items: center;

  font-size: 12vh;
  font-family: 'ArchivoBlack';

  /* Text gradient */
  background: linear-gradient(#ffffff, #4b4b4b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* Text outline */
  -webkit-text-stroke: 2px rgb(34, 34, 34);
}

.score-modal .modal-content
{
  padding: 10px;
}


@font-face
{
  font-family: 'ArchivoBlack';
  src: url(../../assets/fonts/ArchivoBlack.ttf) format('truetype');
  font-stretch: condensed;
}